<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sonrlabs.test.sonr"
      android:versionCode="46"
      android:versionName="0.46">

	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/sonr_icon" android:label="@string/app_name" android:debuggable="true" android:name="SONRApplication">
        <activity android:name=".SONR"
                  android:label="@string/app_name">
                  
            <receiver android:name="com.sonrlabs.sonr.StopReceiver">
            	<intent-filter>
               		 <action android:name="android.intent.action.DISCONNECT_DOC"></action>
            	</intent-filter>  	
        	</receiver>            
           
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.ACTION_VOICE_COMMAND" />
            </intent-filter>
        </activity>
        
        <service android:name=".SONRClient">
			<receiver android:name=".clientStopReceiver">
            	<intent-filter>
               		 <action android:name="android.intent.action.DISCONNECT_DOC"></action>
            	</intent-filter>
        	</receiver>
        </service>
     
		<receiver android:name=".SonrWidget" android:label="@string/widget_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/toggle_appwidget_info" />
		</receiver>
		
		<receiver android:name=".HeadphoneReciever">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		
		<service android:name="com.sonrlabs.test.sonr.ToggleSONR"/>
		
		<receiver android:name="com.sonrlabs.test.sonr.BootIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	     
	    <activity android:name=".DefaultAppScreen"/>
	    <activity android:name=".ConfigurationActivity"/>
	    <activity android:name=".TermsScreen">
		    <intent-filter>
	    		<category android:name="android.intent.category.DEFAULT" />
	    		<action android:name="android.intent.action.VIEW" />
	    		<data android:scheme="com.sonrlabs.sonr.TermsScreen" />  
			</intent-filter>
	    </activity> 
	    <activity android:name=".IntroScreen"/>
	    <activity android:name="com.sonrlabs.test.sonr.StopSONR"/>
    </application>
</manifest>
