<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sonrlabs.prod.sonr"
      android:versionCode="83"
      android:versionName="0.83-test">

	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:icon="@drawable/sonr_icon" android:label="@string/app_name" android:debuggable="true" android:name="com.sonrlabs.test.sonr.SONRApplication">
        <activity android:name="com.sonrlabs.test.sonr.SONR"
                  android:label="@string/app_name">
                  
            <receiver android:name="com.sonrlabs.sonr.StopReceiver">
            	<intent-filter>
               		 <action android:name="android.intent.action.DISCONNECT_DOC"></action>
            	</intent-filter>  	
        	</receiver>            
           
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.ACTION_VOICE_COMMAND" />
            </intent-filter>
        </activity>
        
		<receiver android:name="com.sonrlabs.test.sonr.SonrWidget" android:label="@string/widget_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/toggle_appwidget_info" />
		</receiver>
		
		<receiver android:name="com.sonrlabs.test.sonr.HeadphoneReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.sonrlabs.test.sonr.MediaButtonReceiver">
			<intent-filter android:priority="1000000">
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>
		
		<service android:name="com.sonrlabs.test.sonr.ToggleSONR"/>
		
		<receiver android:name="com.sonrlabs.test.sonr.BootIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	     
	    <activity android:name="com.sonrlabs.test.sonr.ConfigurationActivity"/>
	    <activity android:name="com.sonrlabs.test.sonr.TermsScreen">
		    <intent-filter>
	    		<category android:name="android.intent.category.DEFAULT" />
	    		<action android:name="android.intent.action.VIEW" />
	    		<data android:scheme="com.sonrlabs.sonr.TermsScreen" />  
			</intent-filter>
	    </activity> 
	    <activity android:name="com.sonrlabs.test.sonr.IntroScreen"/>
	    <activity android:name="com.sonrlabs.test.sonr.StopSONR"/>
    </application>
</manifest>
